<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="static/css/stylesheet.css">
    <title>Dojo_Survey</title>
</head>

<body>
<h1>Results Page</h1>
<h2>Information Submitted:</h2>
    <p>name: {{ ninja["name"] }} </p>
    <p>location: {{ ninja["city"] }} , {{ ninja["state"] }}</p>
    <p>language: {{ ninja["language"] }} </p>
    <p>comment: {{ ninja["comment"] }} </p>
</body>

</html>